@import "tailwindcss";

@theme {
	--font-sans: var(--font-geist-sans), ui-sans-serif, system-ui, sans-serif,
		"Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol", "Noto Color Emoji";
}
.phone-mockup {
	@apply p-1.5 bg-gray-800 shadow-[0_2.75rem_5.5rem_-3.5rem_rgb(45_55_75_/_20%),_0_2rem_4rem_-2rem_rgb(45_55_75_/_30%),_inset_0_-0.1875rem_0.3125rem_0_rgb(45_55_75_/_20%)] rounded-3xl;
  }
  
  .phone-image {
	@apply max-w-full rounded-[1.25rem] h-auto;
  }

  :root {
	/* fallback */
	--font-base: var(--font-geist-sans, sans-serif);
	--font-heading: var(--font-royalbrand, serif);
	--font-body: var(--font-poppins, sans-serif);
  }
  body {
	font-family: var(--font-body);
  }
  
  h1, h2, h3 {
	font-family: var(--font-heading);
  }
  
  p {
	font-family: var(--font-body);
  }